.button {
    @include df_ac_jcc;
    @include text_4;
    color: white;
    transition: all .3s;
    padding: 0.563rem 1.063rem;
    max-width: max-content;
    border-radius: 0.375rem;
    &_size {
        padding: 1.313rem 2.313rem;
    }
    &_other{
        @include text_3;
        @include mobile{}
    }
    &_bg-white {
        background-color: white;
        border: 1px solid #D1D5DB;
        color: black;
        &:hover {
            background-color: #9F9F9F;
        }
        &:active, &:focus {
            background-color: white;
        }
    }
    &_bg-violet {
        background-color: $violet;
        &:hover {
            background-color: #4841b6;;
        }
        &:active, &:focus {
            background-color: $violet;
        }
    }

    
}