header{
    .header-section{
        padding: 1.4rem 1.875rem ;
        @include df_ac_jcsb;
        @include mobile{
            padding: 1.333rem;
        }
        clip-path: polygon(0 0, 36% 0, 62% 0, 100% 0, 100% 31%, 100% 64%, 96% 100%, 91.7% 100%, 89.7% 82%, 84% 82%, 82% 100%, 0 100%);
        &::before{
            clip-path: polygon(0 0, 36% 0, 62% 0, 100% 0, 100% 31%, 100% 64%, 96% 100%, 92% 100%, 90% 82%, 84% 82%, 82% 100%, 0 100%);
        }
        .header-logo{
            @include df_ac;
            gap: 0.938rem;
            .text-logo{
                @include heading_2;
                color: white;
            }
        }
        &__info-block{
            @include df_ac;
            gap: 2.5rem;
            width: 100%;
        }
        &__polosa-tr{
            transform: scale(1, -1);
            width: 3.5rem;
            height: 0.125rem;
            top: 0.5rem;
            right: 0.5rem;
            &::after{
                width: 4.25rem;
                height: 0.125rem;
                top: 0;
                right: 0;
                transform: rotate(90deg);
            }
        }
        &__polosa-bl{
            transform: scale(-1, -1);
            width: 11.5rem;
            height: 0.125rem;
            bottom: 0.5rem;
            left: 0.5rem;
            &::after{
                width: 3.25rem;
                height: 0.125rem;
                top: 0;
                right: 0;
                transform: rotate(-90deg);
            }
        }
        .burger-block {
            align-items: center;
            gap: 2.5rem;
        }
    }
}
.pt-pl{
    padding: 2.5rem 0 0 9rem;
}
